@font-face {
  font-family: Apeiron;
  src: url(Apeiron-fonts.0f5214c0.woff) format("woff");
}

/* Small devices (tablets, 200px and up) */
@media (min-width: 200px) {
  .section-one {
    h1 {
      span {
        padding: 0;
        font-size: unset;
      }
    }
  }

  .section-two,
  .section-four,
  .section-six,
  .section-eight {
    padding: 100px 0;
  }

  .section-six {
    height: 1000px !important;
  }

  .section-eight {
    .info-center-img {
      img {
        width: 90%;
      }
    }
  }

  .center-icon {
    img {
      width: 70px;
    }
  }

  .infomation {
    font-size: unset;
    padding-left: 10%;
    padding-right: 10%;
  }

  .slide-info img,
  .img-hover-zoom {
    width: 200px;
  }

  .slide-info {
    display: grid;
  }

  .img-line-one,
  .img-line-two {
    display: inline-block;
  }

  .img-line-one div:nth-child(1) img,
  .img-line-one div:nth-child(2) img,
  .img-line-one div:nth-child(3) img,
  .img-line-two div:nth-child(1) img,
  .img-line-two div:nth-child(2) img,
  .img-line-two div:nth-child(3) img {
    height: 300px;
  }

  .img-line-one div:nth-child(1),
  .img-line-two div:nth-child(1),
  .img-line-one div:nth-child(2),
  .img-line-two div:nth-child(2),
  .img-line-one div:nth-child(3),
  .img-line-two div:nth-child(3) {
    width: 100%;
  }

  /* slide */
  .splide {
    .slide-item {
      display: block;

      .slide-img {
        width: 100%;
        display: flex;
      }

      .slide-info {
        margin-top: 40px;
        width: 100%;
      }
    }
    .splide__pagination {
      bottom: 0.2em !important;
    }
  }

  .apostle-view {
    .section-five {
      .info-wrapper {
        img {
          width: 220px;
        }
      }
    }
  }

  /* third body */
  .third-body {
    display: grid;
    height: fit-content;
    .side-one,
    .side-two,
    .side-three {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  /* half-body */
  .half-body {
    display: block;
    .left-side,
    .right-side {
      width: 100%;
      .age_line_table {
        display: none;
      }

      .age_vertical_table {
        display: inline-table;
      }
    }
  }

  .planet-view {
    .info-center-img {
      .slide-item-wrapper {
        .planet {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Small devices (tablets, 400px and up) */
@media (min-width: 400px) {
  .section-one {
    h1 {
      span {
        padding: 0;
        font-size: 20px;
      }
    }
  }

  /* slide */
  .splide {
    .slide-item {
      display: flex;

      .slide-img {
        width: 40%;
        display: flex;
      }

      .slide-info {
        width: 60%;
      }
    }

    .splide__pagination {
      bottom: -4em !important;
    }
  }

  .apostle-view {
    .section-five {
      .info-wrapper {
        img {
          width: 280px;
        }
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section-one {
    h1 {
      span {
        padding: 0 15px;
        font-size: 70px;
      }
    }
  }

  .section-two {
    padding: 200px 0 0 0;
  }

  .section-four {
    padding: 150px 0 0 0;
  }

  .section-six {
    height: 900px;
  }

  .section-six,
  .section-eight {
    padding: 100px 0 0 0;
  }

  .section-eight {
    .info-center-img {
      img {
        width: 700px;
      }
    }
  }

  .infomation {
    font-size: larger;
    padding-left: 20%;
    padding-right: 20%;
  }

  .slide-info img,
  .img-hover-zoom {
    width: 300px;
  }

  .slide-info {
    display: flex;
  }

  /* gallery */
  .img-line-one,
  .img-line-two {
    display: flex;
  }

  .img-line-one div:nth-child(1) img,
  .img-line-one div:nth-child(2) img,
  .img-line-one div:nth-child(3) img,
  .img-line-two div:nth-child(1) img,
  .img-line-two div:nth-child(2) img,
  .img-line-two div:nth-child(3) img {
    height: 400px;
  }

  .img-line-one div:nth-child(1),
  .img-line-two div:nth-child(3) {
    width: 50%;
  }

  .img-line-one div:nth-child(2),
  .img-line-two div:nth-child(2) {
    width: 25%;
  }

  .img-line-one div:nth-child(3),
  .img-line-two div:nth-child(1) {
    width: 25%;
  }

  .center-icon {
    img {
      width: 150px;
    }
  }

  .apostle-view {
    .section-five {
      .info-wrapper {
        img {
          width: 300px;
        }
      }
    }
  }

  /* third body */
  .third-body {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    .side-one,
    .side-two,
    .side-three {
      width: 100%;
      height: fit-content;
      img {
        width: 100%;
      }
    }
  }

  /* half-body */
  .half-body {
    display: flex;
    .left-side {
      width: 30%;
    }
    .right-side {
      width: 70%;

      .age_line_table {
        display: none;
      }
    }
  }

  .planet-view {
    .info-center-img {
      .slide-item-wrapper {
        .planet {
          img {
            width: 300px;
            margin: auto;
          }
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 900px) {
  .half-body {
    .right-side {
      .age_line_table {
        display: block;
      }
      .age_vertical_table {
        display: none;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .infomation {
    padding-left: 30%;
    padding-right: 30%;
  }

  .section-eight {
    .info-center-img {
      img {
        width: 700px;
      }
    }
  }

  .img-line-one div:nth-child(1),
  .img-line-two div:nth-child(3) {
    width: 50%;
  }

  .img-line-one div:nth-child(2),
  .img-line-two div:nth-child(2) {
    width: 25%;
  }

  .img-line-one div:nth-child(3),
  .img-line-two div:nth-child(1) {
    width: 25%;
  }

  /* half-body */
  .half-body {
    display: flex;
    .left-side {
      width: 40%;
    }
    .right-side {
      width: 60%;
    }
  }
}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .slide-info img,
  .img-hover-zoom {
    width: 400px;
  }

  /* half-body */
  .half-body {
    display: flex;
    .left-side {
      width: 50%;
    }
    .right-side {
      width: 50%;
    }
  }
}

body {
  font-family: roboto;
  cursor: url("../assets/img/mouse.png"), auto;
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.body-wrapper {
  width: -webkit-fill-available;
  overflow: hidden;
  height: 100%;

  .apeiron-font {
    font-family: Apeiron;
  }

  /* slide animation */
  .slide-from-left {
    transform: translateX(-30%);
    opacity: 0;
  }

  .slide-from-left-active {
    animation: slide-from-left-anim 1s ease-out forwards;
  }

  .slide-from-right {
    opacity: 0;
    transform: translateX(30%);
  }

  .slide-from-right-active {
    animation: slide-from-left-anim 1s ease-out forwards;
  }

  /* section-one */
  .section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 30px black;
    animation: breath 50s linear none;
    -webkit-animation: breath 50s linear none;
    -moz-animation: breath 50s linear none;
    background-position: center;
    background-attachment: fixed;

    h1 {
      display: flex;
      text-align: center;
      max-width: 40ch;
      color: #fff8dc !important;
      text-shadow: 3px 3px black;
      font-family: "Marcellus", sans-serif;
      text-transform: uppercase;

      span {
        display: inline-block;
        color: #fff8dc;
        opacity: 0;
        filter: blur(5px);

        &:nth-child(1) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(2) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(3) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(4) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(5) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(6) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(7) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(8) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(9) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(10) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(11) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(12) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        &:nth-child(13) {
          animation: fade-in 7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      }
    }
  }

  /* infomation */
  .infomation {
    color: #fff8dc;
    width: -webkit-fill-available;
    font-weight: 300;

    /* slide */
    .splide {
      ul {
        li {
          height: fit-content !important;
        }
      }
      .slide-item {
        .slide-img {
          align-items: center;
          justify-content: center;
        }

        .slide-info {
          display: block;
          z-index: 1;

          img {
            width: 100px;
          }

          .slide-title {
            text-align: center;
            width: 100%;
            color: #fff8dc;
            font-weight: 500;
            text-transform: uppercase;
          }

          .slide-detail {
            width: 100%;
            color: #fff8dc;
            padding: 20px 0px 0px 30px;
          }
        }

        img {
          border-radius: 10px;
          box-shadow: 0 0 30px black;
          width: 70%;
        }
      }
    }
  }

  /* center icon*/
  .center-icon {
    margin: 20px 0px 40px 0;
    text-align: center;
  }

  /* page infomation */
  .info-wrapper {
    position: absolute;
    width: 100%;
  }

  .info-wrapper h1,
  h2 {
    text-align: center;
    color: #fff8dc;
  }

  /* detail button */
  .see-detail-btn {
    width: 150px;
    text-align: center;
    margin: 50px auto;
    border: 1px solid #fff8dc;
    transition: 0.5s;
    opacity: 0.5;
  }

  .see-detail-btn a {
    display: block;
    padding: 20px;
    width: 150px;
  }

  .see-detail-btn a {
    text-decoration: none;
    color: #fff8dc;
  }

  .see-detail-btn:hover {
    box-shadow: 0 0 30px #fff8dc;
    opacity: 1;
  }

  .see-detail-btn:hover a {
    color: #fff8dc;
  }

  .slide-info {
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
  }
  .img-hover-zoom {
    display: flex;
    margin: 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 20px black;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        backdrop-filter: blur(10px);
        filter: blur(4px);
        z-index: 1;
      }

      .slide-img-captions {
        opacity: 1;
      }
    }

    .slide-img-captions {
      position: absolute;
      width: fit-content;
      z-index: 1;
      text-align: center;
      color: #fff8dc;
      opacity: 0;
      transition: 0.5s ease-in-out;

      h1 {
        font-size: medium;
      }

      .detail-btn {
        width: fit-content !important;
        margin: 20px auto;
        border: 1px solid #fff8dc;
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 0 20px black;
          color: #fff8dc;
        }
      }

      .detail-btn a {
        display: block;
        padding: 10px;
        width: 150px;
        text-decoration: none;
        color: #fff8dc;
      }
    }
  }

  /* center-info-img */
  .info-center-img {
    width: 100%;
    margin-top: 50px;
    text-align: center;

    img {
      box-shadow: 0 0 30px black;
    }
  }

  /* gallery */
  .img-line-one {
    width: 100%;
    div {
      height: fit-content;
      &:nth-child(1) img,
      &:nth-child(2) img,
      &:nth-child(3) img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: bottom;
      }
    }
  }

  .img-line-two {
    width: 100%;
    div {
      &:nth-child(1) img,
      &:nth-child(2) img,
      &:nth-child(3) img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: bottom;
      }
    }
  }

  /* half-body */
  .half-body {
    position: relative;
    .left-side,
    .right-side {
      position: relative;

      .title {
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /* el-collap */
  .el-collapse-item__header,
  .el-collapse-item__wrap,
  .el-collapse-item__content {
    color: #fff8dc !important;
    background-color: transparent !important;
    font-weight: 300;
    font-size: large;
  }

  .el-collapse-item__header {
    height: fit-content;
  }

  // .apexcharts-toolbar {
  //   display: none !important;
  // }
  .apexcharts-tooltip.apexcharts-theme-light {
    display: none;
  }

  /* section 1-3-5-7-9 */
  @mixin section-option-one() {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px black;

    video {
      width: -webkit-fill-available;
      top: 0;
      left: 0;
    }

    .bgr-img {
      width: -webkit-fill-available;
      height: 100vh;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }

  /* section 2-4-6-8 */
  @mixin section-option-two($height, $heightBefore, $imageUrl) {
    position: relative;
    width: -webkit-fill-available;
    height: $height;
    h1,
    h2 {
      text-align: center;
      color: #fff8dc;
    }

    &::before {
      height: $heightBefore;
      background-image: url($imageUrl);
      content: "" !important;
      position: absolute !important;
      background-position: center !important;
      background-attachment: fixed !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      z-index: -1 !important;
    }

    .center-icon {
      margin: 20px 0px 40px 0;
      text-align: center;
    }
  }

  /* section-two */
  .section-two {
    @include section-option-two(
      700px,
      900px,
      "../assets/img/background/background-avatar-left.jpg"
    );
  }

  /* section-three */
  .section-three {
    @include section-option-one();
  }

  /* section-four */
  .section-four {
    @include section-option-two(
      850px,
      1500px,
      "../assets/img/background/background-avatar-right.jpg"
    );
  }

  /* section-five */
  .section-five {
    @include section-option-one();
  }

  /* section-six */
  .section-six {
    @include section-option-two(
      900px,
      1300px,
      "../assets/img/background/background-planet-left.jpg"
    );
  }

  /* section-seven */
  .section-seven {
    @include section-option-one();
  }

  /* section-eight */
  .section-eight {
    @include section-option-two(
      900px,
      1300px,
      "../assets/img/landing-background-img-1.jpg"
    );
  }

  /* section-nine */
  .section-nine {
    height: fit-content !important;
    @include section-option-one();
  }

  /* section-ten */
  .section-ten {
    .body-wrapper {
      padding: 100px 0;
      width: 100%;
      height: 300px !important;
      background-image: url(../assets/img/landing-background-img-1.jpg);
      background-position: top;
      background-size: cover;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 70px;
      }

      .icon {
        margin: 0 10px;
        width: 30px !important;
      }
    }
  }
  .join {
    padding-top: 30px;
    text-align: center;
    color: #fff8dc;
    text-transform: uppercase;
    font-family: roboto;
  }

  /* animation */
  @keyframes breath {
    0% {
      background-size: 100% auto;
    }

    50% {
      background-size: 140% auto;
    }

    100% {
      background-size: 160% auto;
    }
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes slide-from-left-anim {
    20% {
      opacity: 0.2;
    }
    40% {
      opacity: 0.4;
    }
    60% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.el-dialog {
  background-image: url(../assets/img/background/background-avatar-right.jpg) !important;

  .el-dialog__headerbtn {
    .el-dialog__close {
      font-size: large;
      color: #fff;
    }
  }
}

.el-tabs__item {
  color: #fff8dc !important;
}

.el-tabs__item.is-active {
  color: var(--el-color-primary) !important;
}

.el-dialog__header {
  padding: unset !important;
}

.apostle-view {
  .el-collapse {
    border-top: unset !important;
  }
}
